<p id="notice"><%= notice %></p>
<div class="container-fluid">

  <h1>Fireworks</h1>

  <table class="table table-sm table-bordered table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Sytle</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @fireworks.each do |firework| %>
        <tr>
          <td><%= firework.name %></td>
          <td><%= firework.sytle %></td>
          <td><%= firework.description %></td>
          <td><%= link_to 'Show', firework, class: "btn btn-secondary btn-sm" %></td>
          <td><%= link_to 'Edit', edit_firework_path(firework), class: "btn btn-primary btn-sm" %></td>
          <td><%= link_to 'Destroy', firework, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Firework', new_firework_path, class: "btn btn-primary btn-sm" %>
</div>
